# 忽略 node_modules 目录（Node.js 项目）
node_modules/

# 忽略所有 .log 文件
*.log

# 忽略 .env 文件（通常含密码或密钥）
.env

# 忽略编译输出文件夹
dist/
build/

# 忽略系统文件
.DS_Store
Thumbs.db

# 忽略 IDE 配置文件夹
.vscode/
.idea/

.vite/
*.local